@charset "UTF-8";
/*-------EMPIEZA ESTILO RESPONSIVE PARA MOBILE-------*/
/*-------TERMINA ESTILO RESPONSIVE PARA MOBILE-------*/
/*-------EMPIEZA ESTILO RESPONSIVE PARA TABLET-------*/
/*-------TERMINA ESTILO RESPONSIVE PARA TABLET-------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*-------EMPIEZA ESTILO INDEX-------*/
body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  text-shadow: none;
  /*-------TERMINA ESTILO INDEX-------*/
  /*-------EMPIEZA ESTILO PÁGINA NOSOTROS-------*/
  /*-------TERMINA ESTILO PÁGINA NOSOTROS-------*/
  /*-------EMPIEZA ESTILO PÁGINA INSTALACIONES-------*/
  /*-------TERMINA ESTILO PÁGINA INSTALACIONES-------*/
  /*-------EMPIEZA ESTILO PÁGINA CLASES-------*/
  /*-------TERMINA ESTILO PÁGINA CLASES-------*/
  /*-------EMPIEZA ESTILO PÁGINA REHABILITACIÓN-------*/
  /*-------TERMINA ESTILO PÁGINA REHABILITACIÓN-------*/
  /*-------EMPIEZA ESTILO PÁGINA CONTACTO-------*/
  /*-------TERMINA ESTILO PÁGINA CONTACTO-------*/
  /*-------EMPIEZA ESTILO PÁGINA ERROR 404-------*/
  /*-------TERMINA ESTILO PÁGINA ERROR 404-------*/
  /*-------EMPIEZA ESTILO RESPONSIVE-------*/ }
  body::-webkit-scrollbar {
    width: 0.5rem;
    margin: 0; }
  body::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 0.5rem;
    border-right: solid #000000 2px; }
  body .contenedor {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "main main" "nosotros instalaciones" "clases rehabilitacion" "footer footer";
    overflow: hidden; }
  body header {
    background: #3a3a3a;
    padding: 5px;
    grid-area: header;
    height: 70px; }
    body header .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 2px; }
      body header .container .fa-bars:before {
        color: #3a3a3a; }
      body header .container nav {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-right: -600px; }
        body header .container nav .menu {
          list-style-type: none; }
          body header .container nav .menu li {
            display: inline-block;
            text-align: center; }
            body header .container nav .menu li a {
              text-decoration: none;
              display: inline-block;
              color: #ffffff;
              margin: 0 5px;
              padding: 3px;
              font-size: 1rem;
              display: block; }
    body header #logo {
      width: 150px; }
  body .contenedor main,
  body .contenedor .nosotros,
  body .contenedor .instalaciones,
  body .contenedor .clases,
  body .contenedor .rehabilitacion {
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.12rem;
    padding: 4px 4px 0 4px; }
  body .contenedor h3 {
    display: inline-block;
    position: absolute;
    font-size: 1.5rem; }
  body .contenedor .img-inicio {
    width: 100%; }
    body .contenedor .img-inicio:hover {
      filter: brightness(1.5); }
  body .contenedor main {
    padding: 0;
    grid-area: main; }
    body .contenedor main .video-inicio {
      width: 100%; }
  body .contenedor .nosotros {
    grid-area: nosotros; }
  body .contenedor .instalaciones {
    grid-area: instalaciones; }
  body .contenedor .clases {
    grid-area: clases; }
  body .contenedor .rehabilitacion {
    grid-area: rehabilitacion; }
  body footer {
    background: #3a3a3a;
    color: #ffffff;
    padding: 0.5rem 2rem;
    grid-area: footer;
    font-size: 0.7rem; }
    body footer .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 0.7rem; }
      body footer .footer-container .logo-footer {
        width: 150px; }
      body footer .footer-container h4 {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: .7rem;
        text-shadow: 0; }
      body footer .footer-container .p-footer {
        margin-bottom: 0px; }
      body footer .footer-container .listas-footer li {
        display: inline-block;
        margin-right: 15px; }
        body footer .footer-container .listas-footer li a {
          color: #ffffff; }
          body footer .footer-container .listas-footer li a .fa-instagram {
            font-size: 25px;
            text-align: center; }
            body footer .footer-container .listas-footer li a .fa-instagram:hover {
              color: #dd2a7b; }
          body footer .footer-container .listas-footer li a .fa-facebook {
            font-size: 25px;
            text-align: center; }
            body footer .footer-container .listas-footer li a .fa-facebook:hover {
              color: #4267b2; }
          body footer .footer-container .listas-footer li a .fa-twitter {
            font-size: 25px;
            text-align: center; }
            body footer .footer-container .listas-footer li a .fa-twitter:hover {
              color: #1da1f2; }
          body footer .footer-container .listas-footer li a .fa-whatsapp {
            font-size: 25px;
            text-align: center; }
            body footer .footer-container .listas-footer li a .fa-whatsapp:hover {
              color: #25d366; }
    body footer .barra-footer {
      text-align: center; }
  body .contenedor-nosotros {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header" "profe1 profe2" "profe3 profe4" "footer footer"; }
    body .contenedor-nosotros > div {
      background: #3a3a3a;
      padding: 15px; }
    body .contenedor-nosotros main,
    body .contenedor-nosotros .profe1,
    body .contenedor-nosotros .profe2,
    body .contenedor-nosotros .profe3,
    body .contenedor-nosotros .profe4 {
      background: #3a3a3a;
      padding: 4px;
      color: #ffffff;
      text-align: center;
      display: flex;
      flex-direction: row;
      min-height: 3.12rem; }
    body .contenedor-nosotros .texto-nosotros {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      justify-items: center;
      padding: 1rem; }
    body .contenedor-nosotros h5 {
      font-size: 1.5rem; }
    body .contenedor-nosotros .texto-profe {
      font-size: 0.8rem;
      text-align: justify; }
    body .contenedor-nosotros .img-nosotros {
      width: 50%; }
    body .contenedor-nosotros main {
      padding: 0;
      grid-area: main; }
    body .contenedor-nosotros .profe1 {
      grid-area: profe1; }
    body .contenedor-nosotros .profe2 {
      grid-area: profe2; }
    body .contenedor-nosotros .profe3 {
      grid-area: profe3; }
    body .contenedor-nosotros .profe4 {
      grid-area: profe4; }
  body .contenedor-instalaciones {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "instalaciones" "footer"; }
    body .contenedor-instalaciones > div,
    body .contenedor-instalaciones .instalaciones {
      background: #3a3a3a;
      padding: 1rem;
      color: #ffffff;
      min-height: 3.12rem;
      grid-area: instalaciones; }
    body .contenedor-instalaciones .instalaciones {
      display: flex;
      flex-direction: column; }
      body .contenedor-instalaciones .instalaciones .texto-instalaciones {
        font-size: 0.8rem;
        padding-right: 4rem;
        padding-left: 4rem; }
        body .contenedor-instalaciones .instalaciones .texto-instalaciones h2 {
          font-size: 1.5rem;
          text-align: center;
          margin-bottom: 1.5rem; }
      body .contenedor-instalaciones .instalaciones .img-instalaciones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        body .contenedor-instalaciones .instalaciones .img-instalaciones .img-inst-ind {
          width: 30%;
          margin: 0.2rem; }
  body .contenedor-clases {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header header" "main main main" "clase-halterofilia clase-musculacion clase-personalizada" "clase-profesor clase-stretching clase-yoga" "footer footer footer"; }
    body .contenedor-clases > div {
      background: #3a3a3a;
      padding: 15px; }
    body .contenedor-clases main {
      background: #000000;
      color: #ffffff;
      min-height: 3.12rem;
      padding: 0;
      grid-area: main; }
      body .contenedor-clases main .video-clases {
        width: 100%; }
    body .contenedor-clases .clase-halterofilia,
    body .contenedor-clases .clase-musculacion,
    body .contenedor-clases .clase-personalizada,
    body .contenedor-clases .clase-profesor,
    body .contenedor-clases .clase-stretching,
    body .contenedor-clases .clase-yoga {
      background: #3a3a3a;
      padding: 4px 4px 0 4px;
      color: #ffffff;
      min-height: 3.12rem; }
      body .contenedor-clases .clase-halterofilia h4,
      body .contenedor-clases .clase-musculacion h4,
      body .contenedor-clases .clase-personalizada h4,
      body .contenedor-clases .clase-profesor h4,
      body .contenedor-clases .clase-stretching h4,
      body .contenedor-clases .clase-yoga h4 {
        font-size: 1rem;
        text-align: center;
        padding-top: 0.5rem; }
      body .contenedor-clases .clase-halterofilia .texto-clases,
      body .contenedor-clases .clase-musculacion .texto-clases,
      body .contenedor-clases .clase-personalizada .texto-clases,
      body .contenedor-clases .clase-profesor .texto-clases,
      body .contenedor-clases .clase-stretching .texto-clases,
      body .contenedor-clases .clase-yoga .texto-clases {
        font-size: 0.8rem;
        text-align: justify;
        padding: 1rem; }
      body .contenedor-clases .clase-halterofilia .img-clases,
      body .contenedor-clases .clase-musculacion .img-clases,
      body .contenedor-clases .clase-personalizada .img-clases,
      body .contenedor-clases .clase-profesor .img-clases,
      body .contenedor-clases .clase-stretching .img-clases,
      body .contenedor-clases .clase-yoga .img-clases {
        width: 100%; }
    body .contenedor-clases .clase-halterofilia {
      grid-area: clase-halterofilia; }
    body .contenedor-clases .clase-musculacion {
      grid-area: clase-musculacion; }
    body .contenedor-clases .clase-personalizada {
      grid-area: clase-personalizada; }
    body .contenedor-clases .clase-profesor {
      grid-area: clase-profesor; }
    body .contenedor-clases .clase-stretching {
      grid-area: clase-stretching; }
    body .contenedor-clases .clase-yoga {
      grid-area: clase-yoga; }
  body .contenedor-rehabilitacion {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "rehabilitacion" "footer"; }
    body .contenedor-rehabilitacion .rehabilitacion {
      background: #3a3a3a;
      padding: 15px;
      color: #ffffff;
      min-height: 3.12rem;
      grid-area: rehabilitacion; }
    body .contenedor-rehabilitacion .rehabilitacion {
      display: flex;
      flex-direction: row; }
      body .contenedor-rehabilitacion .rehabilitacion .texto-rehabilitacion {
        font-size: 0.8rem;
        text-align: justify;
        padding: 1.5rem;
        margin-bottom: 1rem; }
        body .contenedor-rehabilitacion .rehabilitacion .texto-rehabilitacion h6 {
          font-size: 1.2rem;
          text-align: center; }
      body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion,
      body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion2 {
        width: 25%; }
  body .contenedor-contacto {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "formulario" "footer"; }
    body .contenedor-contacto > div,
    body .contenedor-contacto .contacto,
    body .contenedor-contacto .formulario {
      background: #3a3a3a;
      padding: 15px;
      color: #ffffff;
      min-height: 3.12rem;
      grid-area: formulario; }
    body .contenedor-contacto .contacto {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      body .contenedor-contacto .contacto iframe {
        width: 48%;
        filter: grayscale(1); }
      body .contenedor-contacto .contacto .formulario {
        width: 48%;
        font-size: 0.8rem;
        padding: 15px;
        border: #000000 solid 1px;
        margin: 1rem 0 1rem 0; }
        body .contenedor-contacto .contacto .formulario:hover {
          border: #ffffff solid 1px; }
        body .contenedor-contacto .contacto .formulario .bloque-formulario {
          width: 100%;
          margin: 3px; }
          body .contenedor-contacto .contacto .formulario .bloque-formulario:hover {
            color: #ffffff; }
          body .contenedor-contacto .contacto .formulario .bloque-formulario .formulario-control {
            display: block;
            height: 30px;
            font-size: 10px;
            width: 100%;
            padding: 5px 5px;
            background-color: #dedede;
            border: 1px solid #000000; }
            body .contenedor-contacto .contacto .formulario .bloque-formulario .formulario-control::placeholder {
              color: #000000; }
          body .contenedor-contacto .contacto .formulario .bloque-formulario .formulario-control2 {
            display: block;
            font-size: 10px;
            width: 100%;
            padding: 5px 5px;
            background-color: #dedede;
            border: 1px solid #000000;
            margin-bottom: 2rem;
            resize: none; }
            body .contenedor-contacto .contacto .formulario .bloque-formulario .formulario-control2::placeholder {
              color: #000000; }
        body .contenedor-contacto .contacto .formulario .hora {
          display: flex;
          flex-direction: row; }
          body .contenedor-contacto .contacto .formulario .hora input {
            margin-left: 5rem; }
        body .contenedor-contacto .contacto .formulario .botonera {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body .contenedor-contacto .contacto .formulario .botonera .boton,
          body .contenedor-contacto .contacto .formulario .botonera .boton1 {
            background-color: #dedede;
            color: #000000;
            font-size: 1rem;
            font-weight: bold;
            border: 1px solid #000000;
            padding: 5px;
            font-family: "Roboto", sans-serif, #ffffff; }
  body .contenedor-404 {
    width: 99%;
    max-width: 3000px;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    overflow: hidden; }
    body .contenedor-404 .error404 .text-404 {
      text-align: center;
      position: absolute;
      margin-top: 53vh;
      margin-left: 59vw; }
      body .contenedor-404 .error404 .text-404 h1 {
        color: #ffffff;
        font-size: 7rem; }
      body .contenedor-404 .error404 .text-404 p {
        color: #ffffff;
        font-size: 1rem;
        margin-bottom: 1rem; }
      body .contenedor-404 .error404 .text-404 a {
        color: #ffffff;
        font-size: 0.8rem;
        text-decoration: none; }
      body .contenedor-404 .error404 .text-404 .boton-404 {
        background: #000000;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 5%;
        padding: 5px; }
        body .contenedor-404 .error404 .text-404 .boton-404:hover {
          background: #dedede;
          color: #000000; }
    body .contenedor-404 .error404 .img-404 {
      width: 100vw;
      height: 97.9vh;
      z-index: -100; }
    body .contenedor-404 .error404 .img-404-2 {
      display: none; }
  @media screen and (max-width: 800px) {
    body {
      /*-------TERMINA ESTILO INDEX PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA NOSOTROS PARA TABLET-------*/
      /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA INSTALACIONES PARA TABLET-------*/
      /*-------TERMINA ESTILO PÁGINA INSTALACIONES PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA CLASES PARA TABLET-------*/
      /*-------TERMINA ESTILO PÁGINA CLASES PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA REHABILITACIÓN PARA TABLET-------*/
      /*-------TERMINA ESTILO PÁGINA REHABILITACIÓN PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA CONTACTO PARA TABLET-------*/
      /*-------TERMINA ESTILO PÁGINA CONTACTO PARA TABLET-------*/
      /*-------EMPIEZA ESTILO PÁGINA 404 PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA 404 PARA MOBILE-------*/ }
      body .contenedor h3 {
        display: inline-block;
        font-size: 1rem; }
      body header .container .fa-bars:before {
        color: #ffffff;
        position: absolute;
        right: 20px;
        top: 30px; }
      body header .container .nav-bar {
        background: #3a3a3a;
        display: block;
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
        z-index: 0; }
      body header .container .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        left: 3px;
        top: 75px;
        background: #3a3a3a;
        width: 97.3vw;
        height: 400px;
        transition: all 0.5s;
        transform: translateX(-200%);
        z-index: 10; }
        body header .container .menu .menu__link {
          display: block;
          padding: 20px;
          color: white;
          font-size: 1rem;
          text-align: justify;
          text-decoration: none; }
          body header .container .menu .menu__link:hover {
            background: #878787; }
      body header .container .mostrar {
        transform: translateX(0); }
      body footer .footer-container {
        font-size: 0.5rem; }
        body footer .footer-container h4 {
          font-size: 0.6rem; }
        body footer .footer-container .logo-footer {
          width: 120px; }
        body footer .footer-container .listas-footer li a .fa-instagram,
        body footer .footer-container .listas-footer li a .fa-facebook,
        body footer .footer-container .listas-footer li a .fa-twitter,
        body footer .footer-container .listas-footer li a .fa-whatsapp {
          font-size: 15px; }
      body .contenedor-nosotros .profe1,
      body .contenedor-nosotros .profe2,
      body .contenedor-nosotros .profe3,
      body .contenedor-nosotros .profe4 {
        flex-direction: column; }
        body .contenedor-nosotros .profe1 h5,
        body .contenedor-nosotros .profe2 h5,
        body .contenedor-nosotros .profe3 h5,
        body .contenedor-nosotros .profe4 h5 {
          font-size: 1rem; }
        body .contenedor-nosotros .profe1 .texto-profe,
        body .contenedor-nosotros .profe2 .texto-profe,
        body .contenedor-nosotros .profe3 .texto-profe,
        body .contenedor-nosotros .profe4 .texto-profe {
          font-size: 0.7rem; }
        body .contenedor-nosotros .profe1 .img-nosotros,
        body .contenedor-nosotros .profe2 .img-nosotros,
        body .contenedor-nosotros .profe3 .img-nosotros,
        body .contenedor-nosotros .profe4 .img-nosotros {
          width: 100%; }
      body .contenedor-instalaciones .instalaciones .texto-instalaciones {
        margin-bottom: 0rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem; }
      body .contenedor-instalaciones .instalaciones .img-instalaciones {
        display: flex;
        flex-direction: row;
        padding-right: 1.5rem;
        padding-left: 1.5rem; }
        body .contenedor-instalaciones .instalaciones .img-instalaciones .img-inst-ind {
          width: 48%;
          margin: 0rem auto; }
      body .contenedor-clases {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header" "main main" "clase-halterofilia clase-musculacion" "clase-personalizada clase-profesor" "clase-stretching clase-yoga" "footer footer"; }
      body .contenedor-rehabilitacion .rehabilitacion {
        display: flex;
        flex-direction: column-reverse; }
        body .contenedor-rehabilitacion .rehabilitacion .texto-rehabilitacion {
          padding: 0.5rem;
          margin-bottom: 0rem; }
        body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion {
          width: 100%; }
        body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion2 {
          display: none; }
      body .contenedor-contacto .contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        body .contenedor-contacto .contacto iframe {
          width: 100%; }
        body .contenedor-contacto .contacto .formulario {
          width: 100%;
          font-size: 0.7rem; }
          body .contenedor-contacto .contacto .formulario .formulario-control,
          body .contenedor-contacto .contacto .formulario .formulario-control2 {
            font-size: 8px; }
          body .contenedor-contacto .contacto .formulario .hora {
            display: flex;
            flex-direction: row; }
            body .contenedor-contacto .contacto .formulario .hora input {
              margin-left: 5rem; }
          body .contenedor-contacto .contacto .formulario .botonera .boton,
          body .contenedor-contacto .contacto .formulario .botonera .boton1 {
            font-size: 0.7rem; }
      body .contenedor-404 {
        width: 99%;
        max-width: 3000px;
        margin: 5px auto;
        display: grid;
        grid-gap: 10px;
        overflow: hidden; }
        body .contenedor-404 .error404 .text-404 {
          text-align: center;
          position: absolute;
          margin-top: 30vh;
          margin-left: 10vw; }
          body .contenedor-404 .error404 .text-404 p {
            font-size: .9rem; }
        body .contenedor-404 .error404 .img-404 {
          display: none; }
        body .contenedor-404 .error404 .img-404-2 {
          display: block;
          width: 100vw;
          height: 97.9vh;
          z-index: -100; } }
  @media screen and (max-width: 600px) {
    body {
      /*-------TERMINA ESTILO INDEX PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA INSTALACIONES PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA CLASES PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA CLASES PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA REHABILITACIÓN PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA REHABILITACIÓN PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA CONTACTO PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA CONTACTO PARA MOBILE-------*/
      /*-------EMPIEZA ESTILO PÁGINA 404 PARA MOBILE-------*/
      /*-------TERMINA ESTILO PÁGINA 404 PARA MOBILE-------*/ }
      body .contenedor {
        grid-template-areas: "header header" "main main" "nosotros nosotros" "instalaciones instalaciones" "clases clases" "rehabilitacion rehabilitacion" "footer footer"; }
        body .contenedor h3 {
          display: inline-block;
          font-size: 1rem; }
      body header .container .fa-bars:before {
        color: #ffffff;
        position: absolute;
        right: 20px;
        top: 30px; }
      body header .container .nav-bar {
        background: #3a3a3a;
        display: block;
        color: white;
        cursor: pointer;
        font-size: 1.2rem;
        z-index: 0; }
      body header .container .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        left: 3px;
        top: 75px;
        background: #3a3a3a;
        width: 97.3vw;
        height: 400px;
        transition: all 0.5s;
        transform: translateX(-200%);
        z-index: 10; }
        body header .container .menu .menu__link {
          display: block;
          padding: 20px;
          color: white;
          font-size: 1rem;
          text-align: justify;
          text-decoration: none; }
          body header .container .menu .menu__link:hover {
            background: #878787; }
      body header .container .mostrar {
        transform: translateX(0); }
      body footer {
        padding: 1rem; }
        body footer .footer-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          font-size: 0.5rem;
          text-align: center; }
          body footer .footer-container h4 {
            margin-top: 1.2rem; }
          body footer .footer-container .logo-footer {
            width: 40%; }
          body footer .footer-container .listas-footer {
            font-size: 0.5rem; }
            body footer .footer-container .listas-footer li {
              display: inline-block;
              text-align: center;
              font-family: "Roboto", sans-serif, #ffffff; }
              body footer .footer-container .listas-footer li a {
                padding: 1px;
                font-size: 0.8rem; }
      body .contenedor-nosotros {
        grid-template-areas: "header header" "profe1 profe1" "profe2 profe2" "profe3 profe3" "profe4 profe4" "footer footer"; }
        body .contenedor-nosotros h5 {
          font-size: 1rem; }
        body .contenedor-nosotros .texto-profe {
          font-size: 0.7rem;
          text-align: justify; }
      body .contenedor-instalaciones .instalaciones .texto-instalaciones {
        margin-bottom: 0rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem; }
      body .contenedor-instalaciones .instalaciones .img-instalaciones {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body .contenedor-instalaciones .instalaciones .img-instalaciones .img-inst-ind {
          width: 90%;
          margin: 0.3rem auto; }
      body .contenedor-clases {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header" "main main" "clase-halterofilia clase-halterofilia" "clase-musculacion clase-musculacion" "clase-personalizada clase-personalizada" "clase-profesor clase-profesor" "clase-stretching clase-stretching" "clase-yoga clase-yoga" "footer footer"; }
        body .contenedor-clases h4 {
          font-size: 1rem; }
        body .contenedor-clases .texto-clases {
          font-size: 0.7rem; }
      body .contenedor-rehabilitacion .rehabilitacion {
        display: flex;
        flex-direction: column-reverse; }
        body .contenedor-rehabilitacion .rehabilitacion .texto-rehabilitacion {
          padding: 0.5rem;
          margin-bottom: 0rem; }
        body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion {
          width: 100%; }
        body .contenedor-rehabilitacion .rehabilitacion .img-rehabilitacion2 {
          display: none; }
      body .contenedor-contacto .contacto {
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        body .contenedor-contacto .contacto iframe {
          width: 100%; }
        body .contenedor-contacto .contacto .formulario {
          width: 100%;
          font-size: 0.7rem; }
          body .contenedor-contacto .contacto .formulario .formulario-control,
          body .contenedor-contacto .contacto .formulario .formulario-control2 {
            font-size: 8px; }
          body .contenedor-contacto .contacto .formulario .hora {
            display: flex;
            flex-direction: row; }
            body .contenedor-contacto .contacto .formulario .hora input {
              margin-left: 3rem; }
          body .contenedor-contacto .contacto .formulario .boton,
          body .contenedor-contacto .contacto .formulario .boton1 {
            font-size: 0.7rem; }
      body .contenedor-404 {
        width: 99%;
        max-width: 3000px;
        margin: 5px auto;
        display: grid;
        grid-gap: 10px;
        overflow: hidden; }
        body .contenedor-404 .error404 .text-404 {
          text-align: center;
          position: absolute;
          margin-top: 30vh;
          margin-left: 10vw; }
          body .contenedor-404 .error404 .text-404 p {
            font-size: .9rem; }
        body .contenedor-404 .error404 .img-404 {
          display: none; }
        body .contenedor-404 .error404 .img-404-2 {
          display: block;
          width: 100vw;
          height: 97.9vh;
          z-index: -100; } }
