$bg-gral: #000000;
$bg-sp: #3a3a3a;
$bg-form: #dedede;
$color-w: #ffffff;
$tx: "Trebuchet MS", #ffffff;
$w-cont-page: 99%;
$mw-cont-page: 3000px;
$m-cont-page: 5px auto;
$grid-gap-cont-page: 10px;
$m-h: 3.12rem;
$fs-h3: 1.5rem;
$w-img: 100%;
$w-img50: 50%;
$w-img30: 30%;
$pad-cont-inicio: 4px 4px 0 4px;
$pad-nos-prof: 4px;
$fs-12: 0.7rem;
$fs-13: 0.8rem;
$fs-1: 1rem;
$fs-15: 1.5rem;
$fs-08: 0.8rem;
$ig: #dd2a7b;
$fb: #4267b2;
$twt: #1da1f2;
$bp-tablet: 800px;
$bp-mobile: 600px;
@mixin contenedores {
  width: $w-cont-page;
  max-width: $mw-cont-page;
  margin: $m-cont-page;
  display: grid;
  grid-gap: $grid-gap-cont-page;
}
@mixin redes($hover) {
  font-size: 20px;
  text-align: center;
  &:hover {
    color: $hover;
  }
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
$breakpoints: (
  tablet: $bp-tablet,
  mobile: $bp-mobile,
);
