@import "variables";

/*-------EMPIEZA ESTILO RESPONSIVE PARA MOBILE-------*/

@mixin contM($breakpoints, $mobile) {
  .contenedor {
    grid-template-areas: "header header" "main main" "nosotros nosotros" "instalaciones instalaciones" "clases clases" "rehabilitacion rehabilitacion" "footer footer";
    .nosotros,
    .instalaciones,
    .clases,
    .rehabilitacion {
      margin: 0;
      overflow: hidden;
    }
    h3 {
      display: inline-block;
      font-size: 1rem;
    }
  }
  header{
    @include header-nav-bar;
  }
  footer {
    padding: 1rem;
    .footer-container {
      @include flex-column;
      justify-content: space-between;
      align-items: center;
      font-size: 0.5rem;
      text-align: center;
      h4 {
        margin-top: 1.2rem;
      }
      .logo-footer {
        width: 40%;
      }
      .listas-footer {
        font-size: 0.5rem;
        li {
          display: inline-block;
          text-align: center;
          font-family: $tx;
          a {
            padding: 1px;
            font-size: $fs-08;
          }
        }
      }
    }
  }

  /*-------TERMINA ESTILO INDEX PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/

  .contenedor-nosotros {
    grid-template-areas: "header header" "profe1 profe1" "profe2 profe2" "profe3 profe3" "profe4 profe4" "footer footer";
    flex-direction: column;
    .profe1,
    .profe2,
    .profe3,
    .profe4 {
      margin: 0;
    h5 {
      font-size: 1rem;
    }
    .texto-profe {
      font-size: $fs-12;
      text-align: justify;
    }
  }
  }

  /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA INSTALACIONES PARA MOBILE-------*/

  .contenedor-instalaciones {
    .instalaciones {
      .texto-instalaciones {
        margin-bottom: 0rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
      .img-instalaciones {
        @include flex-column;
        justify-content: center;
        .img-inst-ind {
          width: 90%;
          margin: 0.3rem auto;
        }
      }
    }
  }

  /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA CLASES PARA MOBILE-------*/

  .contenedor-clases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "clase-halterofilia clase-halterofilia" "clase-musculacion clase-musculacion" "clase-personalizada clase-personalizada" "clase-profesor clase-profesor" "clase-stretching clase-stretching" "clase-yoga clase-yoga" "footer footer";
    overflow: hidden;
    h4 {
      font-size: 1rem;
    }
    .texto-clases {
      font-size: $fs-12;
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA CLASES PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA REHABILITACIÓN PARA MOBILE-------*/

  .contenedor-rehabilitacion {
    overflow: hidden;
    .rehabilitacion {
      display: flex;
      flex-direction: column-reverse;
      margin: 0;
      .texto-rehabilitacion {
        padding: 0.5rem;
        margin-bottom: 0rem;
      }
      .img-rehabilitacion {
        width: 100%;
      }
      .img-rehabilitacion2 {
        display: none;
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA REHABILITACIÓN PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA CONTACTO PARA MOBILE-------*/

  .contenedor-contacto {
    overflow: hidden;
    .contacto {
      @include flex-column;
      justify-content: space-around;
      margin: 0;
      padding: 0 .5rem 0 .5rem;
      iframe {
        width: $w-img;
      }
      .formulario {
        width: $w-img;
        font-size: $fs-12;
        .formulario-control,
        .formulario-control2 {
          font-size: 8px;
        }
        .hora {
          @include flex-row;
          input {
            margin-left: 3rem;
          }
        }
        .boton,
        .boton1 {
          font-size: $fs-12;
        }
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA CONTACTO PARA MOBILE-------*/

  /*-------EMPIEZA ESTILO PÁGINA 404 PARA MOBILE-------*/

  .contenedor-404{
    @include contenedores;
    overflow: hidden;
    .error404{
      .text-404{
        @include eror404-resp;
        p{
          font-size: .9rem;
        }
      }
      .img-404{
        display: none;
      }
      .img-404-2{
        display: block;
        width: 100vw;
        height: 97.9vh;
        z-index: -100;
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA 404 PARA MOBILE-------*/
}

/*-------TERMINA ESTILO RESPONSIVE PARA MOBILE-------*/

/*-------EMPIEZA ESTILO RESPONSIVE PARA TABLET-------*/

@mixin contT($breakpoints, $bp-tablet) {
  .contenedor {
    overflow: hidden;
    h3 {
      display: inline-block;
      font-size: 1rem;
    }
  }
  header{
    @include header-nav-bar;
  }
  footer {
    .footer-container {
      font-size: 0.5rem;
      h4 {
        font-size: 0.6rem;
      }
      .logo-footer {
        width: 120px;
      }
      .listas-footer li{
        a{
          .fa-instagram, 
          .fa-facebook,
          .fa-twitter,
          .fa-whatsapp {
          font-size: 15px;
        }
        }
      }
    }
  }
  
  /*-------TERMINA ESTILO INDEX PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA NOSOTROS PARA TABLET-------*/

  .contenedor-nosotros {
    overflow: hidden;
    .profe1,
    .profe2,
    .profe3,
    .profe4 {
      flex-direction: column;
      margin: 0;
      h5 {
        font-size: $fs-1;
      }
      .texto-profe {
        font-size: $fs-12;
      }
      .img-nosotros {
        width: $w-img;
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA NOSOTROS PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA INSTALACIONES PARA TABLET-------*/

  .contenedor-instalaciones {
    overflow: hidden;
    .instalaciones {
      .texto-instalaciones {
        margin-bottom: 0rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }
      .img-instalaciones {
        @include flex-row;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        .img-inst-ind {
          width: 48%;
          margin: 0rem auto;
        }
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA INSTALACIONES PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA CLASES PARA TABLET-------*/

  .contenedor-clases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "clase-halterofilia clase-musculacion" "clase-personalizada clase-profesor" "clase-stretching clase-yoga" "footer footer";
    overflow: hidden;
  }
  
  /*-------TERMINA ESTILO PÁGINA CLASES PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA REHABILITACIÓN PARA TABLET-------*/

  .contenedor-rehabilitacion {
    overflow: hidden;
    .rehabilitacion {
      display: flex;
      flex-direction: column-reverse;
      margin: 0;
      .texto-rehabilitacion {
        padding: 0.5rem;
        margin-bottom: 0rem;
      }
      .img-rehabilitacion {
        width: 100%;
      }
      .img-rehabilitacion2 {
        display: none;
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA REHABILITACIÓN PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA CONTACTO PARA TABLET-------*/

  .contenedor-contacto {
    overflow: hidden;
    .contacto {
      @include flex-column;
      justify-content: space-around;
      margin: 0;
      iframe {
        width: $w-img;
      }
      .formulario {
        width: $w-img;
        font-size: $fs-12;
        .formulario-control,
        .formulario-control2 {
          font-size: 8px;
        }
        .hora {
          @include flex-row;
          input {
            margin-left: 5rem;
          }
        }
        .botonera {
          .boton,
          .boton1 {
            font-size: $fs-12;
          }
        }
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA CONTACTO PARA TABLET-------*/

  /*-------EMPIEZA ESTILO PÁGINA 404 PARA MOBILE-------*/

  .contenedor-404{
    @include contenedores;
    overflow: hidden;
    .error404{
      .text-404{
        @include eror404-resp;
        p{
          font-size: .9rem;
        }
      }
      .img-404{
        display: none;
      }
      .img-404-2{
        display: block;
        width: 100vw;
        height: 97.9vh;
        z-index: -100;
      }
    }
  }
  
  /*-------TERMINA ESTILO PÁGINA 404 PARA MOBILE-------*/
  
}
/*-------TERMINA ESTILO RESPONSIVE PARA TABLET-------*/