* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.contenedor {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header header"
    "main main"
    "nosotros instalaciones"
    "clases rehabilitacion"
    "footer footer";
}
.contenedor > div,
.contenedor main,
.contenedor .nosotros,
.contenedor .instalaciones,
.contenedor .clases,
.contenedor .rehabilitacion {
  background: black;
  padding: 15px;
}
header {
  background: #3a3a3a;
  padding: 5px;
  grid-area: header;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
#logo {
  width: 150px;
}

.contenedor main,
.contenedor .nosotros,
.contenedor .instalaciones,
.contenedor .clases,
.contenedor .rehabilitacion {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}
h3 {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
}
.img-inicio {
  width: 100%;
}
.contenedor main {
  padding: 0px;
  grid-area: main;
}
.contenedor main .video-inicio {
  width: 100%;
}
.contenedor .nosotros {
  padding: 4px 4px 0 4px;
  grid-area: nosotros;
}
.contenedor .instalaciones {
  padding: 4px 4px 0 4px;
  grid-area: instalaciones;
}
.contenedor .clases {
  padding: 4px 4px 0 4px;
  grid-area: clases;
}
.contenedor .rehabilitacion {
  padding: 4px 4px 0 4px;
  grid-area: rehabilitacion;
}
footer {
  background: #3a3a3a;
  color: white;
  padding: 0.5rem 2rem;
  grid-area: footer;
  font-size: 12px;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
footer .footer-container .logo-footer {
  width: 150px;
}
footer h4 {
  font-size: 13px;
  text-align: center;
}
.listas-footer {
  list-style-type: none;
}
.listas-footer li {
  display: inline-block;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.listas-footer li a {
  text-decoration: none;
  color: white;
  padding: 3px;
  font-size: 12px;
}
.listas-footer li a i {
  font-size: 20px;
}

.contenedor-nosotros {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header"
    "profe1 profe2"
    "profe3 profe4"
    "footer footer";
}
.contenedor-nosotros > div,
.contenedor-nosotros main,
.contenedor-nosotros .profe1,
.contenedor-nosotros .profe2,
.contenedor-nosotros .profe3,
.contenedor-nosotros .profe4 {
  background: #3a3a3a;
  padding: 15px;
}
.contenedor-nosotros main,
.contenedor-nosotros .profe1,
.contenedor-nosotros .profe2,
.contenedor-nosotros .profe3,
.contenedor-nosotros .profe4 {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  min-height: 50px;
}
.texto-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  padding: 1rem;
}
h5 {
  font-size: 1.5rem;
}
.texto-profe {
  font-size: 0.8rem;
  text-align: justify;
}
.img-nosotros {
  width: 50%;
}
.contenedor-nosotros main {
  padding: 0px;
  grid-area: main;
}
.contenedor-nosotros .profe1 {
  padding: 4px;
  grid-area: profe1;
}
.contenedor-nosotros .profe2 {
  padding: 4px;
  grid-area: profe2;
}
.contenedor-nosotros .profe3 {
  padding: 4px;
  grid-area: profe3;
}
.contenedor-nosotros .profe4 {
  padding: 4px;
  grid-area: profe4;
}

.contenedor-instalaciones {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "instalaciones"
    "footer";
}
.contenedor-instalaciones > div,
.contenedor-instalaciones .instalaciones {
  background: #3a3a3a;
  padding: 15px;
}
.contenedor-instalaciones {
  color: white;
  min-height: 50px;
  grid-area: instalaciones;
}
.contenedor-instalaciones .instalaciones {
  display: flex;
  flex-direction: column;
}
.texto-instalaciones h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.texto-instalaciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  font-size: 0.8rem;
  text-align: justify;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.contenedor-instalaciones .instalaciones .img-instalaciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.img-inst-ind {
  width: 30%;
  margin: 0.2rem;
}

.contenedor-clases {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header header header"
    "main main main"
    "clase-halterofilia clase-musculacion clase-personalizada"
    "clase-profesor clase-stretching clase-yoga"
    "footer footer footer";
}
.contenedor-clases > div,
.contencontenedor-clases main,
.contenedor-clases .nosotros,
.contenedor-clases .instalaciones,
.contenedor-clases .clases,
.contenedor-clases .rehabilitacion {
  background: #3a3a3a;
  padding: 15px;
}
.contenedor-clases main,
.contenedor-clases .clase-halterofilia,
.contenedor-clases .clase-musculacion,
.contenedor-clases .clase-personalizada,
.contenedor-clases .clase-profesor,
.contenedor-clases .clase-stretching,
.contenedor-clases .clase-yoga {
  color: white;
  min-height: 50px;
}
h4 {
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
}
.texto-clases {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  font-size: 0.8rem;
  text-align: justify;
  padding: 1rem;
}
.img-clases {
  width: 100%;
}
.contenedor-clases main {
  padding: 0px;
  grid-area: main;
}
.contenedor-clases main .video-clases {
  width: 100%;
}
.contenedor-clases .clase-halterofilia {
  padding: 4px 4px 0 4px;
  grid-area: clase-halterofilia;
}
.contenedor-clases .clase-musculacion {
  padding: 4px 4px 0 4px;
  grid-area: clase-musculacion;
}
.contenedor-clases .clase-personalizada {
  padding: 4px 4px 0 4px;
  grid-area: clase-personalizada;
}
.contenedor-clases .clase-profesor {
  padding: 4px 4px 0 4px;
  grid-area: clase-profesor;
}
.contenedor-clases .clase-stretching {
  padding: 4px 4px 0 4px;
  grid-area: clase-stretching;
}
.contenedor-clases .clase-yoga {
  padding: 4px 4px 0 4px;
  grid-area: clase-yoga;
}

.contenedor-rehabilitacion {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "rehabilitacion"
    "footer";
}
.contenedor-rehabilitacion > div,
.contenedor-rehabilitacion .rehabilitacion {
  background: #3a3a3a;
  padding: 15px;
}
.contenedor-rehabilitacion {
  color: white;
  min-height: 50px;
  grid-area: rehabilitacion;
}
.contenedor-rehabilitacion .rehabilitacion {
  display: flex;
  flex-direction: row;
}
h6 {
  font-size: 1.2rem;
  text-align: center;
}
.texto-rehabilitacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  font-size: 0.8rem;
  text-align: justify;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.img-rehabilitacion,
.img-rehabilitacion2 {
  width: 25%;
}

.contenedor-contacto {
  width: 99%;
  max-width: 3000px;
  margin: 5px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "formulario"
    "footer";
}
.contenedor-contacto > div,
.contenedor-contacto .contacto,
.contenedor-contacto .formulario {
  background: #3a3a3a;
  padding: 15px;
  color: white;
  min-height: 50px;
  grid-area: formulario;
}
.contenedor-contacto .contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
}
iframe {
  width: 48%;
  filter: grayscale();
}
.formulario {
  width: 48%;
  color: black;
  font-size: 15px;
  padding: 15px;
  border: black solid 1px;
  margin: 1rem 0 1rem 0;
}
.bloque-formulario {
  width: 100%;
  margin: 3px;
}
.formulario-control {
  display: block;
  height: 30px;
  font-size: 10px;
  width: 100%;
  padding: 5px 5px;
  background-color: rgb(222, 222, 222);
  border: 1px solid black;
}
.formulario-control2 {
  display: block;
  font-size: 10px;
  width: 100%;
  padding: 5px 5px;
  background-color: rgb(222, 222, 222);
  border: 1px solid black;
  margin-bottom: 2rem;
}
::placeholder {
  color: black;
}
.boton {
  background-color: rgb(222, 222, 222);
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.boton1 {
  background-color: rgb(222, 222, 222);
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
  padding: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .contenedor {
    grid-template-areas:
      "header header"
      "main main"
      "nosotros nosotros"
      "instalaciones instalaciones"
      "clases clases"
      "rehabilitacion rehabilitacion"
      "footer footer";
  }
  nav {
    background: black;
    flex-direction: column;
  }

  h3 {
    display: inline-block;
    font-size: 1rem;
  }
  footer {
    background: #3a3a3a;
    color: white;
    padding: 15px;
    grid-area: footer;
  }
  footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    text-align: center;
  }
  .listas-footer {
    list-style-type: none;
    font-size: 10px;
  }
  .listas-footer li {
    display: inline-block;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .listas-footer li a {
    padding: 1px;
    font-size: 10px;
  }

  .contenedor-nosotros {
    grid-template-areas:
      "header header"
      "profe1 profe1"
      "profe2 profe2"
      "profe3 profe3"
      "profe4 profe4"
      "footer footer";
  }
  h5 {
    font-size: 1rem;
  }
  .texto-profe {
    font-size: 0.7rem;
    text-align: justify;
  }

  .contenedor-clases {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main main"
      "clase-halterofilia clase-halterofilia"
      "clase-musculacion clase-musculacion"
      "clase-personalizada clase-personalizada"
      "clase-profesor clase-profesor"
      "clase-stretching clase-stretching"
      "clase-yoga clase-yoga"
      "footer footer";
  }
  h4 {
    font-size: 1rem;
  }
  .texto-clases {
    font-size: 0.7rem;
  }
  .img-inst-ind {
    width: 90%;
  }
  .texto-instalaciones {
    margin-bottom: 0rem;
  }
  .contenedor-rehabilitacion .rehabilitacion {
    display: flex;
    flex-direction: column-reverse;
  }
  .texto-rehabilitacion {
    padding: 0.5rem;
    margin-bottom: 0rem;
  }
  .img-rehabilitacion {
    width: 100%;
  }
  .img-rehabilitacion2 {
    display: none;
  }

  .contenedor-contacto .contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  iframe {
    width: 100%;
  }
  .formulario {
    width: 100%;
    font-size: 12px;
  }
  .formulario-control {
    font-size: 8px;
  }
  .formulario-control2 {
    font-size: 8px;
  }
  .boton {
    font-size: 12px;
  }
  .boton1 {
    font-size: 12px;
  }
}
